<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firebase Data</title>
    <!-- PushAlert -->
        {{!-- <script type="text/javascript">
                (function(d, t) {
                        var g = d.createElement(t),
                        s = d.getElementsByTagName(t)[0];
                        g.src = "https://cdn.pushalert.co/integrate_88536d28da0d0b10fbd70c5c5e71728f.js";
                        s.parentNode.insertBefore(g, s);
                }(document, "script"));
        </script> --}}
        <!-- End PushAlert -->
</head>
<body>
    
    <h1>Firebase Data</h1>

    <p><b>EAR:</b> <span id="ear"></span></p>
    <p><b>status:</b> <span id="status"></span></p>
    <p><b>frequent Yawns:</b> <span id="fy"></span></p>
    
    <button id="notify" onclick="notifyMe()">Push</button>

    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-database.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBFPAXHOjsn-ODsrSHa9TddDWp5UGhIefw",
            authDomain: "pickle-f6850.firebaseapp.com",
            databaseURL: "https://pickle-f6850.firebaseio.com",
            projectId: "pickle-f6850",
            storageBucket: "pickle-f6850.appspot.com",
            messagingSenderId: "265744031460"
        };
        firebase.initializeApp(config);
    </script>

    <script src="/firebaseData/fb.js"></script>
    <script>
        function notifyMe() {
            // Let's check if  the browser supports notifications
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            }

            // Let's check whether notification permissions have already been granted
            else if (Notification.permission === "granted") {
                // If it's okay let's create a notification
                var notification = new Notification("Hi there!");
            }

            // Otherwise, we need to ask the user for permission
            else if (Notification.permission !== "denied") {
                Notification.requestPermission(function (permission) {
                // If the user accepts, let's create a notification
                if (permission === "granted") {
                    var notification = new Notification("Hi there!");
                }
                });
            }

            // At last, if the user has denied notifications, and you 
            // want to be respectful there is no need to bother them any more.
            }

    </script>
    {{!-- <script src="/push.js"></script>
    <script>
        $('#notify').click(function () {
            Push.create('Hello World');
        });
    </script> --}}
</body>
</html>