<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Things | Login</title>
    <link rel="stylesheet" href="/login/css/style.css">
</head>
<body>

    <div class="login-page">

        <h2 style="color: red;">{{error}}</h2>
        <div class="form hoverable">
            <form class="register-form" action="/users/register" method="POST">
                <input type="text" name="name" placeholder="name" />
                <input type="password" name="password" placeholder="password" />
                <input type="email" name="email" placeholder="email address" />
                <button>Sign Up</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form" action="/users" method="POST">
                <input type="email" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="/login/js/index.js"></script>
</body>
</html>
