<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Test Notifications</h1>
    <p>TESTING</p>

    <button id="notify">Notify me!</button>

    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script>
        $("#notify").click (function () {
            console.log('Notification');
            $.get("http://api.msg91.com/api/sendhttp.php?country=91&sender=MSGIND&route=4&mobiles=8800467915&authkey=242704A8yXSd0INO5bc24274&message=BHAIAIIA CHAL JAAAA", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
            });
        }); 
    </script>
</body>
</html>